<%count = count || 50 %>
<%if  start - count >= 0 || start + count <= size%>
<p class='pagination'>
  <% if start - count >= 0 %>
    <a href="<%= current_page %>?start=<%= start - count %>" class='less'>&laquo; less</a>
  <% end %>
  <% if start + count <= size %>
    <a href="<%= current_page %>?start=<%= start + count %>" class='more'>more &raquo;</a>
  <% end %>
</p>
<%end%>